.header-line {
  margin-top: 0 !important;
  border: 0;
  height: 5px;
  background: linear-gradient(
    to right,
    rgba(255, 208, 7) 0%,
    rgba(255, 208, 7) 12.5%,
    rgba(192, 156, 221, 1) 62.5%,
    rgba(192, 156, 221, 1) 75%
  );
}
.items {
  background-color: #f9f7f6;
}

.items .item img {
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 3px grey;
}
.items .item p {
  margin-top: 5px;
}
.items .all-items {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.items .item {
  margin-left: 20px;
  text-align: center;
  white-space: nowrap;
  color: rgb(104, 101, 101);
}
.items .categories {
  text-align: left;
  font-weight: bold;
}
.all-items::-webkit-scrollbar,
.all-items::-webkit-scrollbar {
  width: 8px;
  background-color: white;
  height: 10px;
}
.all-items::-webkit-scrollbar-thumb,
.all-items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #4182c3),
    color-stop(0.72, #4182c3),
    color-stop(0.86, #4182c3)
  );
}
.all-items::-webkit-scrollbar-track,
.all-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 8px;
}
.footer-line {
  margin-top: 10px !important;
  border: 0;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(255, 208, 7) 0%,
    rgba(255, 208, 7) 12.5%,
    rgba(192, 156, 221, 1) 62.5%,
    rgba(192, 156, 221, 1) 75%
  );
}
